body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

#content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 20px;
  text-align: center;
}

#logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
  width: 60%;
}

label,
select,
p {
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
}

select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#imagen {
  margin-top: 15px;
  width: 100%;
  height: auto;
  border-radius: 6px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  background: #e60012;
  color: white;
  border-radius: 6px;
}

button:hover {
  background: #c4000f;
}
